{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body p-5">
                <h2 class="text-center mb-4">Crear Cuenta</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid mt-3">
                        <button class="btn btn-success" type="submit">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}